$color-bg-primary: #AD7AFF;
$color-bg-secundary: #7E2FFF;
$font-primary: 'Poppins', 'Outfit', sans-serif;
$font-secundary: 'Outfit', 'Poppins', sans-serif;
$font-envelope: 'Dancing Script', 'Poppins', sans-serif;
$color-letters: #363636;